<?xml version='1.0' encoding='UTF-8'?>
<phpunit
        convertErrorsToExceptions='true'
        convertNoticesToExceptions='true'
        convertWarningsToExceptions='true'
        colors='true'
        stopOnFailure='true'
        syntaxCheck='true'
        backupGlobals='true'
        bootstrap="tests/PHPTest/bootstrap.php">
    <testsuites>
        <testsuite name='mytests'>
            <directory suffix='Test.php'>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>